In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
dir_data = './data/samples/Part01/'
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/samples/Part01/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
#1
cut_rule = [0,1,2,3,5,999]
app_train['CNT_CHILDREN_GROUP'] = pd.cut(app_train['CNT_CHILDREN'].values, cut_rule, right = False, include_lowest=True)
app_train['CNT_CHILDREN_GROUP'].value_counts()

[0, 1)      215371
[1, 2)       61119
[2, 3)       26749
[3, 5)        4146
[5, 999)       126
Name: CNT_CHILDREN_GROUP, dtype: int64

In [55]:
app_train['CNT_CHILDREN_GROUP']

0         [0, 1)
1         [0, 1)
2         [0, 1)
3         [0, 1)
4         [0, 1)
5         [0, 1)
6         [1, 2)
7         [0, 1)
8         [0, 1)
9         [0, 1)
10        [1, 2)
11        [0, 1)
12        [0, 1)
13        [1, 2)
14        [0, 1)
15        [0, 1)
16        [0, 1)
17        [1, 2)
18        [0, 1)
19        [1, 2)
20        [0, 1)
21        [1, 2)
22        [1, 2)
23        [0, 1)
24        [2, 3)
25        [0, 1)
26        [0, 1)
27        [1, 2)
28        [0, 1)
29        [0, 1)
           ...
307481    [0, 1)
307482    [0, 1)
307483    [0, 1)
307484    [0, 1)
307485    [1, 2)
307486    [1, 2)
307487    [0, 1)
307488    [0, 1)
307489    [0, 1)
307490    [0, 1)
307491    [2, 3)
307492    [0, 1)
307493    [0, 1)
307494    [1, 2)
307495    [0, 1)
307496    [0, 1)
307497    [0, 1)
307498    [0, 1)
307499    [0, 1)
307500    [0, 1)
307501    [3, 5)
307502    [1, 2)
307503    [0, 1)
307504    [0, 1)
307505    [0, 1)
307506    [0, 1)
307507    [0, 1)
307508    [0, 1)
307509    [0, 1)
307510    [0, 1)
Name: CNT_CHILDREN_GROUP, Length: 307511, dtype: category
Categories (5, interval[int64]): [[0, 1) < [1, 2) < [2, 3) < [3, 5) < [5, 999)]

In [52]:
#2-1 請根據 CNT_CHILDREN_GROUP 以及 TARGET，列出各組的平均 AMT_INCOME_TOTAL，並繪製 baxplot
grp = app_train.loc[0:1000, 'CNT_CHILDREN_GROUP', 'TARGET', 'AMT_INCOME_TOTAL']
grouped_df = app_train.groupby(grp)['AMT_INCOME_TOTAL']
grouped_df.mean()

IndexingError: Too many indexers